.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: gray;
  color: white;
  font-weight: 700;
}

.tituloNav {
  text-transform: uppercase;
}

.navNavbar {
  width: 40%;
  justify-content: space-between;
}
.ulNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.linav:hover {
  transform: scale(1.05);
  transition: 0.5s;
  text-shadow: 2px 2px black;
}

.linav {
  list-style: none;
}
